.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0bceaf;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #F9F9FF;
}

h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    margin-top: 250px;
    width: 60%;
    margin: 0 auto;
    padding-top: 250px;
}

#highlight {
    color: #0bceaf;
}

.btn {
    background-color: #0bceaf;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.nav-bar {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    background-size: cover;
}

.nav-bar-big-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 60%;
    margin: 0 auto;
}

.nav-bar-selection-wrapper {
    width: 60%;
}

.nav-bar-selection {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar-selection li .nav-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: relative;
}

.nav-bar-selection .nav-link:hover {
    color: #0bceaf;
    cursor: pointer;
}

.active::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.nav-bar-btn {
    display: none;
}

.nav-bar-btn:hover {
    cursor: pointer;
}

.introduce-content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.profile-picture {
    width: 50%;
}

.profile-picture .picture-wrapper {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-picture .picture-wrapper img {
    max-width: 100%;
    max-height: 100%;
    /* border: 20px solid rgba(0, 0, 0, 0.17); */
    border-radius: 50%;
}

.introduce-profile {
    width: 50%;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    padding: 30px;
    border-radius: 20px;
    position: relative;
    background-color: white;
}

.introduce-profile::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    right: -2%;
    top: 30%;
}

.introduce .introduce-content #hello {
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    width: 100px;
    text-align: center;
    color: white;
}

.introduce .introduce-content p i {
    margin-right: 15px;
}

.introduce .introduce-content #name {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.introduce .introduce-content #title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.introduce .introduce-content ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: flex-start;
    padding: 0;
    margin-top: 30px;
}

.introduce .introduce-content li {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.4s;
}

.introduce .introduce-content ul li a {
    color: black;
}

.introduce .introduce-content ul li:hover {
    cursor: pointer;
    background-color: black;
    color: #0bceaf;
    border-radius: 5px;
    transition: 0.4s;
    transform: scale(1.4);
}

.introduce .introduce-content ul li:hover a i {
    color: #0bceaf;
    transform: scale(1.4);
}

#nav-bar-for-mobile {
    transform: translateX(-110%);
    width: 70%;
    height: 100vh;
    background-color: #0bceaf;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.4s;
    display: none;
}

.mobile-nav-open {
    transform: translateX(0%) !important;
}

#nav-bar-for-mobile ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
    padding-top: 50px;
}

#nav-bar-for-mobile ul li .nav-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#nav-bar-for-mobile ul li {
    margin-bottom: 20px;
    position: relative;
}

#nav-bar-for-mobile ul li::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.about-me-content {
    display: flex;
}

.about-me-picture {
    width: 50%;
}

.about-me-picture-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.about-me-profile {
    width: 50%;
    padding-left: 50px;
}

.about-me .about-me-content ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 30px;
}

.about-me .about-me-content ul li {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#CV-Download {
    color: white;
    text-decoration: none;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#CV-Download:hover {
    transform: perspective(100px) translateZ(1);
}

.history {
    display: flex;
}

.education .education-content h3 {
    text-align: center;
}

.education .education-content .education-part {
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 20px 4px #00000015;
    box-shadow: 0px 10px 20px 4px #00000015;
    padding: 18px;
    background-color: white;
    border-radius: 20px;
}

.experience .experience-content h3 {
    text-align: center;
}

.experience .experience-content .experience-part {
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 20px 4px #00000015;
    box-shadow: 0px 10px 20px 4px #00000015;
    padding: 18px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
}

.projects-content h3 {
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
}

.react-tabs__tab-list {
    border-bottom: none !important;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.react-tabs__tab--selected {
    background-color: #F9F9FF !important;
    border: none !important;
    border-bottom: 2px solid #0bceaf !important
}

.react-tabs__tab-list {
    display: flex;
    justify-content: center;
}

.react-tabs__tab {
    margin-right: 20px;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
}

@media(max-width: 1199px) {
    body {
        width: 80%;
    }
    .nav-bar {
        width: 80%;
    }
}

@media(max-width: 991px) {
    body {
        width: 90%;
    }
    .nav-bar {
        width: 90%;
    }
    .nav-bar-selection {
        display: none;
    }
    .nav-bar-btn {
        display: block;
    }
    #nav-bar-for-mobile {
        display: block;
    }
    .profile-picture .picture-wrapper {
        width: 300px;
        height: 300px;
    }
    section {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        width: 90%;
    }
    .nav-bar {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    section {
        margin-top: 100px;
    }
    body {
        width: 90%;
    }
    .nav-bar {
        width: 100%;
    }
    .nav-bar-btn {
        display: block;
        margin-right: 30px;
    }
    .nav-bar-big-list {
        justify-content: space-around;
    }
    .introduce-content {
        display: block;
        text-align: center;
    }
    .profile-picture {
        width: 100%;
        margin-bottom: 50px;
    }
    .introduce-profile {
        width: 100%;
    }
    #hello {
        margin: 0 auto;
    }
    .introduce .introduce-content ul {
        justify-content: center;
    }
    .about-me-content {
        display: block;
    }
    .about-me-picture {
        width: 100%;
        margin-bottom: 50px;
    }
    .about-me-profile {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .about-me .about-me-content ul {
        justify-content: center;
    }
    .history {
        display: block;
    }
}